
.card:hover{
    background-image: url('instantsettlement-hoverbg.svg');
}




  
  /* Custom animation using Tailwind */
.companylist{
    animation: 10s infinite linear moveCompany;
}
@keyframes moveCompany{
    0% {
        top: 0;
      }
      100% {
        top: -50%;
      }
}